<!-- SVG Star icon for ratings -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="star-icon" viewBox="0 0 24 24">
    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
  </symbol>
</svg>

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials">
  <div class="container">
    <h2>What Our Users Say</h2>
    <p class="section-subtitle">Real experiences from PrimeAlpha users</p>
    
    <div class="testimonials-grid">
      <!-- Testimonials will be loaded here by JavaScript -->
    </div>
  </div>
</section>

<!-- Testimonials Template -->
<template id="testimonial-template">
  <div class="testimonial-card">
    <div class="testimonial-content">
      <p></p>
    </div>
    <div class="testimonial-author">
      <div class="testimonial-avatar">
        <img src="" alt="">
      </div>
      <div class="testimonial-info">
        <h4></h4>
        <p></p>
        <div class="testimonial-rating">
          <svg><use xlink:href="#star-icon"></use></svg>
          <svg><use xlink:href="#star-icon"></use></svg>
          <svg><use xlink:href="#star-icon"></use></svg>
          <svg><use xlink:href="#star-icon"></use></svg>
          <svg><use xlink:href="#star-icon"></use></svg>
        </div>
      </div>
    </div>
  </div>
</template>
